
.news-flex-box {
  flex: 0 0 auto;
  margin-bottom: 2rem;
  display: flex;
  font-size: 0.8rem;
}

.news-box {
  flex: 1;
  margin-left: 3px;
}

.update-box {
  flex: 1;
}

.miniroom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-title {
  font-family: 'GmarketSansLight';
  border-bottom: 1px solid grey;
  color: #3b87ab;
  margin: 3px;
}

.news-row {
  display: flex;
  font-size: 0.85rem;
  margin: 3px 0;
}

.news-category {
  padding: 0 6px;
  margin-right: 6px;
  color: white;
  border-radius: 3px;
}

.category-pic {
  background-color: #f15f5f;
}

.category-post {
  background-color: #617dc1;
}

.menu-row {
  display: flex;
  border-bottom: 1px dashed grey;
  margin: 3px 0;
}

.menu-item {
  flex: 1;
}

.menu-num {
  font-family: 'GmarketSansLight';
  padding-left: 6px;
  color: #003399;
}

.miniroom-gif-box {
  background-color: white;
  border: 1px solid #808080;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniroom-gif-box > img {
  width: 55%;
}
